<!--<md-sidenav md-component-id="right-nav" md-is-locked-open="true">-->
    <!--<md-toolbar class="md-tall md-hue-2">-->
        <!--<span flex></span>-->
        <!--<div layout="column" class="inset">-->
            <!--<span class="md-body-1">Firstname Lastname</span>-->
            <!--<span class="md-body-1">email@domainname.com</span>-->
        <!--</div>-->
    <!--</md-toolbar>-->
    <!--<md-list>-->
        <!--<md-list-item ng-repeat="item in menu">-->
            <!--<md-button md-ink-ripple layout="row">-->
                <!--<div class="inset">-->
                    <!--<ng-md-icon icon="{{item.icon}}"></ng-md-icon>-->
                <!--</div>-->
                <!--<div class="md-body-1">{{item.title}}</div>-->
            <!--</md-button>-->
        <!--</md-list-item>-->
        <!--<md-divider></md-divider>-->
    <!--</md-list>-->
<!--</md-sidenav>-->